<div>
    <h3>Today</h3>
    <ul>
        <li>
            <h4>UNBLib Systems</h4>
            <p class="ch-nd ch-live ch-live-co ch-live-nsdo" data-ch-id="libsys" data-ch-days="0" data-ch-format-date="dddd">Unavailable</p>
            <p class="ch-nd" data-ch-id="libsys" data-ch-days="0">Unavailable</p>
        </li>
    </ul>

    <h3>Tomorrow</h3>
    <ul class="ch-list">
        <li>
            <h4>UNBLib Systems</h4>
            <p class="ch-nd" data-ch-id="libsys" data-ch-days="1">Unavailable</p>
        </li>
    </ul>

    <h3>Next 7 days</h3>
    <ul class="ch-list">
        <li>
            <h4>UNBLib Systems</h4>
            <table>
                <tr data-ch-id="libsys" data-ch-days="0" data-ch-format-date="[Current]" data-ch-format-time="hh:mm A"><td>Unavailable</td></tr>
                <tr data-ch-id="libsys" data-ch-days="1" data-ch-format-date="dddd" data-ch-format-time="hh:mm A"><td>Unavailable</td></tr>
                <tr data-ch-id="libsys" data-ch-days="2" data-ch-format-date="dddd" data-ch-format-time="hh:mm A"><td>Unavailable</td></tr>
                <tr data-ch-id="libsys" data-ch-days="3" data-ch-format-date="dddd" data-ch-format-time="hh:mm A"><td>Unavailable</td></tr>
                <tr data-ch-id="libsys" data-ch-days="4" data-ch-format-date="dddd" data-ch-format-time="hh:mm A"><td>Unavailable</td></tr>
                <tr data-ch-id="libsys" data-ch-days="5" data-ch-format-date="dddd" data-ch-format-time="hh:mm A"><td>Unavailable</td></tr>
                <tr data-ch-id="libsys" data-ch-days="6" data-ch-format-date="dddd" data-ch-format-time="hh:mm A"><td>Unavailable</td></tr>
            </table>
        </li>
    </ul>

    <h3>Canada Day 2019</h3>
    <ul class="ch-list">
        <li>
            <h4>UNBLib Systems</h4>
            <p class="ch-nd" data-ch-id="libsys" data-ch-date="2019-07-01">Unavailable</p>
        </li>
    </ul>

    <h3>Custom Formatting</h3>
    <ul class="ch-list">
        <li>
            <h4>UNBLib Systems</h4>
            <p data-ch-id="libsys" data-ch-date="2019-06-21" data-ch-format-date="dddd, MMMM Do, Y" data-ch-format-time="hh:mm A">Unavailable</p>
            <p data-ch-id="libsys" data-ch-date="2019-06-21" data-ch-format-date="MMMM Do" data-ch-format-time="h:mm a">Unavailable</p>
            <p data-ch-id="libsys" data-ch-date="2019-06-21" data-ch-format-date="DD.MM." data-ch-format-time="HH:mm">Unavailable</p>
        </li>
    </ul>

    <p>
        Check the <a href="https://momentjs.com/docs/#/displaying/format/" target="_blank">Moment.js Documentation</a> for accepted date and time formats.
    </p>


</div>
<footer>
    {{ attach_library('calendar_hours_client/calendar-hours') }}
</footer>